/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */

$fs-menu: (
  null: (24px,1),
  sm:   (24px,1),
  md:   (18px,1),
  lg:   (18px,1)  
);

$fs-pricing: (
  null: (18px,1.55),
  sm:   (16px,1.4),
  md:   (21px,1.33),
  lg:   (21px,1.33)  
);

$fs-language-header: (
  null: (24px,1),
  sm:   (24px,1),
  md:   (24px,1),
  lg:   (24px,1)  
);

$fs-language-items: (
  null: (16px,1),
  sm:   (16px,1),
  md:   (16px,1),
  lg:   (16px,1)  
);

$fs-project-date: (
  null: (14px,1.5),
  sm:   (14px,1.5),
  md:   (16px,1.33),
  lg:   (16px,1.33)  
);

$fs-project-page-btn: (
  null: (14px,1),
  sm:   (14px,1),
  md:   (16px,1),
  lg:   (18px,.88)  
);

$fs-project-testimonial: (
  null: (16px,1.3),
  sm:   (18px,1.3),
  md:   (22px,1.3),
  lg:   (24px,1.3)  
);

$fs-project-header-1: (
  null: (28px,1.2),
  sm:   (36px,1.1),
  md:   (48px,1.1),
  lg:   (48px,1.1)  
);

$fs-project-header-2: (
  null: (22px,1.2),
  sm:   (26px,1.1),
  md:   (32px,1.1),
  lg:   (32px,1.1)  
);

$fs-pricing-header-2: (
  null: (22px,1.2),
  sm:   (32px,1.1),
  md:   (32px,1.1),
  lg:   (32px,1.1)  
);

$fs-accordion: (
  null: (16px,1.35),
  sm:   (16px,1.35),
  md:   (16px,1.35),
  lg:   (16px,1.35)  
);

$fs-btn-accordion: (
  null: (16px,1.3),
  sm:   (16px,1.3),
  md:   (16px,1.3),
  lg:   (16px,1.3)  
);

$fs-16: (
  null: (16px,1.3),
  sm:   (16px,1.3),
  md:   (16px,1.3),
  lg:   (16px,1.3)  
);

$fs-18: (
  null: (18px,1.3),
  sm:   (18px,1.3),
  md:   (18px,1.3),
  lg:   (18px,1.3)  
);

$fs-21: (
  null: (21px,1.3),
  sm:   (21px,1.3),
  md:   (21px,1.3),
  lg:   (21px,1.3)  
);

