/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/toggle-options
 * -----------------------------------------------------------------------------
 */

.btn-toggle {
  background-color: $color-white;
  color: $color-tertiary;

  > div {
    border: 1px solid $color-tertiary;
  
    span {
      color: $color-tertiary;
    }
  }
}

.has-group-error {
  .btn-toggle {
    color: $color-danger;
    > div {
      border-color: $color-danger;
    }
  }
}

.is-active {
  .btn-toggle {
    background-color: $color-white;
  }
}

.is-complete {
  .btn-toggle {
    > div {
      border-color: $color-primary;
    }
  }
}