/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */

$fs-default: (
  null: (16px,1.5),
  sm:   (16px,1.5),
  md:   (18px,1.33),
  lg:   (18px,1.33)  
);

$fs-xxs: (
  null: (12px,1.2),
  sm:   (12px,1.2),
  md:   (14px,1.2),
  lg:   (14px,1.2)  
);

$fs-xs: (
  null: (12px,1.5),
  sm:   (14px,1.5),
  md:   (18px,1),
  lg:   (18px,1)  
);

$fs-sm: (
  null: (16px,1.55),
  sm:   (16px,1.55),
  md:   (18px,1.4),
  lg:   (18px,1.4)  
);

$fs-md: (
  null: (18px,1.33),
  sm:   (18px,1.33),
  md:   (20px,1.33),
  lg:   (22px,1.33)  
);

$fs-lg: (
  null: (32px,1.25),
  sm:   (32px,1.25),
  md:   (40px,1),
  lg:   (56px,1)  
);

$fs-xl: (
  null: (36px,1.2),
  sm:   (44px,1.1),
  md:   (56px,1.1),
  lg:   (56px,1.1)  
);

$fs-btn-toggle: (
  null: (24px,1),
  sm:   (32px,.75),
  md:   (32px,.75),
  lg:   (32px,.75)  
);

$fs-btn-toggle-number: (
  null: (16px,1),
  sm:   (18px,.88),
  md:   (18px,.88),
  lg:   (18px,.88)  
);