/**
 * -----------------------------------------------------------------------------
 * File: views/connect
 * -----------------------------------------------------------------------------
 */

 section.connect {

  article.text-media {

    header {
      text-align: center;
      h1 {
        margin-bottom: $space-2x;
      }
    }

    .text-media__body {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
}