/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black:      #212121;
$color-dark:       #444444;
$color-white:      #ffffff;
$color-sand:       #EDE8E3;
$color-beige:      #D8CBBF;
$color-grey:       #E3DFE3;
$color-light-grey: #808084;
$color-steel:      #494D50;
$color-light:      #F3F3F3;

$color-primary: #eb0029;
$color-secondary: #003652;
$color-tertiary: #aac140;


// Notification colors
$color-success:   #70AE6E !default;
$color-info:      #009DDC !default;
$color-warning:   #f0ad4e !default;
$color-danger:    #DA2C38 !default;

