/**
 * -----------------------------------------------------------------------------
 * File: layout/section
 * -----------------------------------------------------------------------------
 */

section {
  background-color: $color-white;
  padding-bottom: $space-9x;

  @include bp-sm() {
    padding-bottom: 72px;
  }

  @include bp-md() {
    padding-bottom: 200px;
  }
  
  img {
    @extend %is-rounded;
  }
}