/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black:  #212121;
$color-dark:   #444444;
$color-white:  #ffffff;
$color-sand:   #EDE8E3;
$color-beige:   #D8CBBF;
$color-yellow: #FABB00;
$color-light-yellow: #FFF8E3;
$color-grey:   #E3DFE3;
$color-light-grey: #808084;
$color-steel:  #494D50;
$color-light: #F3F3F3;
$color-green: #18A33F;

// product colors
$color-product-cream: #fff9e8;
$color-product-apricot: #fcebcf;
$color-product-buttercream: #fae89f;
$color-product-peach: #fad7a1;

// Notification colors
$color-success:   #70AE6E !default;
$color-info:      #009DDC !default;
$color-warning:   #f0ad4e !default;
$color-danger:    #DA2C38 !default;

